<header class="header">
    <a href="/">
        <img src="/img/html.png" alt="logo">
    </a>
    <nav>
        <ul class="menu">
            <li><a href="javascript:startRec()" title="Iniciar captura de áudio">
                    <div class="botoes">
                        <img src="/img/microfone.png" alt="Gravar áugio">
                        <label class="white" for="gravar">Gravar</label>
                    </div>
                </a>
            </li>
            <li><a href="javascript:stopRec()" title="Parar captura de áudio">
                    <div class="botoes">
                        <img src="/img/stopRec.png" alt="Parar gravação">
                        <label class="white" for="parar">Parar</label>
                    </div>
                </a></li>
            <li><a href="javascript:renderizar()" title="Renderizar preview de código">
                    <div class="botoes">
                        <img src="/img/render.png" alt="Renderizar página">
                        <label class="white" for="render">Preview</label>
                    </div>
                </a></li>
        </ul>
    </nav>
</header>
<section class="main-container">
    <aside class="column">
        <textarea id="editor"></textarea>
    </aside>
    <aside class="column">
        <iframe frameborder="0" style="position: relative; height: 100%; width: 100%;" id="render"></iframe>
    </aside>
</section>
<footer class="rodape">
    <a href="/">Rodape</a>
</footer>